@font-face {
    font-family: 'OswaldRegular';
    src: url('../fonts/Oswald/oswald-webfont.eot');
    src: url('../fonts/Oswald/oswald-webfont.eot?#iefix') format('eot'),
         url('../fonts/Oswald/oswald-webfont.woff') format('woff'),
         url('../fonts/Oswald/oswald-webfont.ttf') format('truetype'),
         url('../fonts/Oswald/oswald-webfont.svg#webfontALNwK88z') format('svg');
    font-weight: normal;
    font-style: normal;
}
